<div class="card row mx-3 mb-3 mt-3">
  <div class="card-header text-center">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Positive Behaviour Support Hub</h5>
    <p class="card-text text-center">PBShub is a management system that would streamline client information to make it easier for Behaviour Practitioners and Support Workers to access the information, track progress, and provide better service.
    </p>
    <div class="row mx-4 mt-4">
      <div class="col mb-4">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/students.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Practioners</h5>
            <p class="card-text">Here you can add new practioners, edit information of current practioners, and delete existing practioners.</p>
            <a routerLink="practitioners" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/subjects.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clients</h5>
            <p class="card-text">Here you can add new clients, edit information for current clients, and delete existing clients.</p>
            <a routerLink="clients" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/courses.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Support Staff</h5>
            <p class="card-text">Here you can add new staff, edit information of current staff, and delete existing support staff.</p>
            <a routerLink="" class="btn btn-primary card-btn-bottom disabled">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/lecturers.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Reports</h5>
            <p class="card-text">Here you can add new reports, edit information of current reports, and delete existing reports.</p>
            <a routerLink="" class="btn btn-primary disabled">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/employees.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Contacts</h5>
            <p class="card-text">Here you can add new contacts, edit information of current contacts, and delete existing contacts.</p>
            <a routerLink="" class="btn btn-primary disabled">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted text-center">
    2 days ago
  </div>
</div>

