<div class="container my-5">
    <h1 class="mb-3">Edit Client</h1>
  
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="updateClient()" class="was-validated">
                
          <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]="clientDetails.id">
          </div>
        
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control is-invalid" id="name" name="name" [(ngModel)]="clientDetails.name" required>
          </div>
  
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control is-invalid" id="email" name="email" [(ngModel)]="clientDetails.email" required>
          </div>
  
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="clientDetails.phone" required>
          </div>
  
          <!-- <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="clientDetails.salary" required>
          </div> -->
  
          <div class="mb-3">
            <label for="behaviour" class="form-label">Behaviour</label>
            <input type="text" class="form-control is-invalid" id="behaviour" name="behaviour" [(ngModel)]="clientDetails.behaviour" required>
          </div>
                
          <button type="submit" class="btn btn-primary mr-5">Save</button>
          <button type="button" class="btn btn-danger" (click)="deleteClient(clientDetails.id)">Delete</button>
  
        </form>
        </div>
    </div>
  
    
  
  
  </div>
  